$font-path: "./plugins/nodebb-theme-quickstart";

@import "../nodebb-theme-harmony/theme";

:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #0e0f0f;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #2a2a32;
	--bs-gray-200: #2f2f37;
	--bs-gray-300: #555565;
	--bs-gray-400: #75758b;
	--bs-gray-500: #818195;
	--bs-gray-600: #8e8ea0;
	--bs-gray-700: #9a9aaa;
	--bs-gray-800: #a7a7b5;
	--bs-gray-900: #cdcdd5;
	--bs-primary: #d0d0d4;
	--bs-secondary: #6c757d;
	--bs-success: #a9d34f;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-primary-rgb: 208,208,212;
	--bs-secondary-rgb: 108,117,125;
	--bs-success-rgb: 169,211,79;
	--bs-info-rgb: 13,202,240;
	--bs-warning-rgb: 255,193,7;
	--bs-danger-rgb: 220,53,69;
	--bs-light-rgb: 16,16,20;
	--bs-dark-rgb: 33,37,41;
	--bs-primary-text-emphasis: #052c65;
	--bs-secondary-text-emphasis: #2b2f32;
	--bs-success-text-emphasis: #240f14;
	--bs-info-text-emphasis: #055160;
	--bs-warning-text-emphasis: #664d03;
	--bs-danger-text-emphasis: #58151c;
	--bs-light-text-emphasis: #495057;
	--bs-dark-text-emphasis: #495057;
	--bs-primary-bg-subtle: #cfe2ff;
	--bs-secondary-bg-subtle: #e2e3e5;
	--bs-success-bg-subtle: #d1e7dd;
	--bs-info-bg-subtle: #cff4fc;
	--bs-warning-bg-subtle: #fff3cd;
	--bs-danger-bg-subtle: #f8d7da;
	--bs-light-bg-subtle: #fcfcfd;
	--bs-dark-bg-subtle: #ced4da;
	--bs-primary-border-subtle: #9ec5fe;
	--bs-secondary-border-subtle: #c4c8cb;
	--bs-success-border-subtle: #a3cfbb;
	--bs-info-border-subtle: #9eeaf9;
	--bs-warning-border-subtle: #ffe69c;
	--bs-danger-border-subtle: #f1aeb5;
	--bs-light-border-subtle: #e9ecef;
	--bs-dark-border-subtle: #adb5bd;
	--bs-white-rgb: 0,0,0;
	--bs-black-rgb: 255,255,255;
	--bs-font-sans-serif: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #e6e6ea;
	--bs-body-color-rgb: 230,230,234;
	--bs-body-bg: #0f0f14;
	--bs-body-bg-rgb: 15,15,20;
	--bs-emphasis-color: #000;
	--bs-emphasis-color-rgb: 0,0,0;
	--bs-secondary-color: #aaaaae;
	--bs-secondary-color-rgb: 170,170,174;
	--bs-secondary-bg: rgba(52, 58, 64, 0.75);
	--bs-secondary-bg-rgb: 52,58,64;
	--bs-tertiary-color: rgba(52, 58, 64, 0.5);
	--bs-tertiary-color-rgb: 52,58,64;
	--bs-tertiary-bg: #e9ecef;
	--bs-tertiary-bg-rgb: 233,236,239;
	--bs-heading-color: inherit;
	--bs-link-color: #26bbff;
	--bs-link-color-rgb: 92,185,250;
	--bs-link-decoration: none;
	--bs-link-hover-color: #26bbff;
	--bs-link-hover-color-rgb: 92,185,250;
	--bs-link-hover-decoration: none;
	--bs-code-color: #d63384;
	--bs-highlight-color: #fff3cd;
	--bs-highlight-bg: #343a40;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #262b3d;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 0.375rem;
	--bs-border-radius-sm: 0.25rem;
	--bs-border-radius-lg: 0.5rem;
	--bs-border-radius-xl: 1rem;
	--bs-border-radius-xxl: 2rem;
	--bs-border-radius-2xl: var(--bs-border-radius-xxl);
	--bs-border-radius-pill: 50rem;
	--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--bs-focus-ring-width: 0.25rem;
	--bs-focus-ring-opacity: 0.25;
	--bs-focus-ring-color: rgba(13, 110, 253, 0.25);
	--bs-form-valid-color: #198754;
	--bs-form-valid-border-color: #198754;
	--bs-form-invalid-color: #dc3545;
	--bs-form-invalid-border-color: #dc3545;
	--btn-ghost-hover-color: #28282c;
	--bs-bg-opacity: 0.8;

    --au-post-background: #ffffff0d;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.text-bg-success {
	color: #240f14!important;
}

.tooltip-inner {
	color: #fff;
}

.scroller-thumb-icon {
	background-color: #26bbff;
}

.tag,
.tag-list .tag {
	color: #8e8ea0;
	background-color: transparent;
}

body.template-topic .topic .posts.timeline > [component="post"]:first-child::before,
body.template-topic .topic .posts.timeline .timeline-event:first-child::before,
body.template-topic .topic .posts.timeline > [component="post/placeholder"]:first-child::before,
body.template-topic .topic .posts.timeline > [component="post"]:last-child::after,
body.template-topic .topic .posts.timeline .timeline-event:last-child::after,
body.template-topic .topic .posts.timeline > [component="post/placeholder"]:last-child::after,
body.template-topic .topic .posts.timeline > [component="post"]:last-child.highlight::after,
body.template-topic .topic .posts.timeline .timeline-event:last-child.highlight::after,
body.template-topic .topic .posts.timeline > [component="post/placeholder"]:last-child.highlight::after {
	background-color: transparent;
}

.topic .pagination-block .scroller-container {
	 border-color: #303034;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #505054;
}

button.pagetop > i,
button.pagebottom > i {
	color: #303034;
}

.post-queue.posts-list .post-content a,
[component="category/posts"] .post-content a,
[component="chat/message/body"] a,
[component="post/content"] a,
[component="topic/teaser"] .post-content a {
	text-decoration: none;
}

div.posts-container > ul.posts li[component="post"] {
    background-color: var(--au-post-background);
	padding-right: 27px;
    border-radius: 16px;
    margin-bottom: 1.2em;
}

div.posts-container > ul.posts > li[component="post"] p {
	color: rgb(230, 230, 234);
}

body.template-topic .topic .posts.timeline > [component="post/placeholder"],
body.template-topic .topic .posts.timeline > [component="post"] {
    border: 1px solid #27272b;
}

div.posts-container > ul.posts li[component="post"] .topic-actions-top {
	padding-right: 10px;
}

.sticky-tools span {
	color: var(--bs-body-color);
}

blockquote,
.text-bg-light, blockquote {
	background-color: #28282c!important;
	border: 1px solid #303034;
	padding: 16px 24px;
	border-radius: 10px;
}

.hljs {
  background:#000!important;
  color:#d4d4d4!important
}
.hljs-comment {
  color:#77b06b!important;
}
.hljs-punctuation,
.hljs-tag {
  color:#dfc79f!important;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color:#e5c2ff!important
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color:#c09077!important;
}
.hljs-section,
.hljs-title {
  color:#569cd6!important;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color:#b9d6ff!important
}
.hljs-literal {
  color:#d16969!important
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color:#e5c2ff!important
}
.hljs-meta {
  color:#77b06b!important
}
.hljs-meta .hljs-string {
  color:#d16969!important
}

.topic-title {
	font-size: 1.14837em;
	font-weight: 900;
	line-height: 1.25;
	letter-spacing: -0.5px;
}

.topic-avatar {
	width: 140px;
	margin-bottom: 56px;
	padding: 2px 1.25rem;
	display: flex;
	margin-left: 40px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.topic-avatar .avatar {
	border-color: transparent;
}

.topic-avatar div:first-of-type {
	margin-bottom: 10px;
}

.topic-avatar a {
	color: var(--bs-body-color);
	font-weight: 0.9;
	text-decoration: none;
}

.topic-avatar .user-tag {
	color: var(--bs-gray-500);
	font-size: 0.8em;
}

.topic-avatar .badge {
	margin-top: 6px;
	font-weight: 700;
	line-height: 18px;
	border: 1px solid black;
	padding: .185rem .5rem;
	border-radius: 16px;
}

body.template-topic .topic .posts.timeline .timeline-event,
.necro-post {
	color: var(--bs-gray-700);
	border: 0;
	border-top: 1px solid #262b3d;
	padding: 1em 0 1em 11px;
	justify-content: flex-start;
}

body.template-topic .topic .posts.timeline [component="topic/event"].timeline-event .timeline-badge,
body.template-topic .topic .posts.timeline [component="topic/necro-post"].timeline-event .timeline-badge,
.timeline-badge {
	background-color: transparent;
	outline-color: transparent;
	border-color: transparent;
}

body.template-topic .topic .posts.timeline .timeline-event,
body.template-topic .topic .posts.timeline > [component="post/placeholder"],
body.template-topic .topic .posts.timeline > [component="post"] {
	margin-left: 0;
}

div.sticky-tools {
	backface-visibility: hidden;
}

div.sticky-tools > nav {
	border-radius: 16px;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	max-width: 95%;
}

body.template-topic .topic .posts-container {
	max-width: 100%;
	width: 100%;
}

.badge {
	color: #8e8ea0;
	line-height: 16px;
	border-radius: 16px;
}

.posts [component="post"].isSolved {
	background-color: #333c2f80!important;
}

.posts [component="post"].isSolved::before {
	color: #2e342a!important;
	background-color: #a9d34f!important;
	border-top-left-radius: 4px!important;
}

main#panel {
	margin-top: 0;
	padding-top: 1rem;
	background: url("./plugins/nodebb-theme-aurelius/static/header.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
}